.Experience {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 20rem auto 0;
    border-radius: 20px;
    padding-bottom: 2.5rem;
    overflow: hidden;
    height: auto;
    flex-direction: column;

    .Experience-title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: -1px 1px 3px rgba(132, 140, 252, 0.7);

        i {
            font-size: 35px;
        }

        h2 {
            margin-left: 10px;
            font-size: 40px;
            text-align: center;
            font-weight: 800;
        }
    }

    .Experience-wrapper {
        margin-top: 2rem;
        height: 100%;
    }
}